/virtualenv
__pycache__
*.pyc
/.vscode
/saves/constants/leaderboard_opt_in
/saves/constants/username
saves/constants/high_score
saves/constants/music_volume
saves/constants/sfx_volume
/executable
logs/*/*.log
logs/*.log
update/
config.py